core/src/main/resources/SuiteTestCadeSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SuiteTestCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Scenario" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="Step" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="ref" use="optional"/>
                      <xs:attribute type="xs:string" name="executor" use="optional"/>
                    </xs:extension>	
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="required"/>
            <xs:attribute type="xs:string" name="active" use="required"/>
            <xs:attribute type="xs:string" name="description" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name" use="required"/>
      <xs:attribute type="xs:string" name="active" use="required"/>
      <xs:attribute type="xs:string" name="description"/>
    </xs:complexType>
  </xs:element>
</xs:schema>