core/src/main/resources/TestCaseDataSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TestCaseData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TestCase" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id" use="required"/>
                <xs:attribute type="xs:string" name="template" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="executor-class" use="required" />
      <xs:attribute type="xs:string" name="data-class" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>